<!-- app.component.html -->

<div class="app-container">
  <header class="header">
    <div class="header-content">
      <h1 class="title">IT Interview Test</h1>
      <p class="subtitle">Helping your knowledge grow</p>
    </div>
  </header>

  <nav class="nav-links">
    <a routerLink="/home" routerLinkActive="active-link">Home</a>
    <a href="#noticias">Noticias</a>
    <a [href]="'https://wa.me/5493462539842?text=' + encodeMessage('Hola, quisiera colaborar con la página de entrevistas IT!')" class="button-link" target="_blank">Colaborar</a>
    <a href="https://abrahamraies.github.io/Portfolio/" class="button-link" target="_blank" >Contacto</a>

  </nav>

  <main>
    <br>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <!-- Aquí va el pie de página de la aplicación -->
    <p>&copy; AR 2023 IT Interview Test</p>
  </footer>
</div>
